body {font-family: Verdana;}
table.main {border: 2px solid #E8E8FF; margin: 1 px; padding: 1px; background-color: #F9F9FF; font-size: 15px;}
td.client {padding: 7px; padding-left: 20px; width: 100%; font-size: 18px;}

table.addupdate {border: 2px solid #C0C0F0; margin: 1 px; padding: 1px; background-color: #E9E9FA; font-size: 16px;}
td.rlform {width: 500px; height: 220px; vertical-align: top; padding: 5px; margin: 0px;  font-size: 16px;  border: 1px solid #C0C0F0;}
td.rltop {vertical-align: top; padding: 7px; background-color: #E0E0FF; border: 1px solid #C0C0F0; font-size: 17px; font-weight: bold; }
td.rlsubtop {vertical-align: top; padding: 5px; background-color: #E8E8FF; border: 1px solid #C0C0F0; font-size: 15px; font-weight: bold; }

tr.rllist0 {vertical-align: middle; padding: 3px; margin: 0px; background-color: #FBFBFF;}
tr.rllist1 {vertical-align: middle; padding: 3px; margin: 0px;  background-color: #F4F4FF;}
tr.rllist_na {vertical-align: middle; padding: 3px; margin: 0px;  background-color: #F4F4F4;}

.srch {width: 450px; font-size: 16px;}
select {margin: 2px; font-size: 16px;}
select.slct {width: 500px; font-size: 16px;}
.butt {font-size: 18px; padding: 5px; background-color: #E0E0FF; border: 1px solid #C0C0F0; font-color: #101030; cursor: pointer;}
.butt_delch {font-size: 18px; padding: 5px; background-color: #FFE0E0; border: 1px solid #F0C0C0; font-color: #901010; cursor: pointer;}
.butt_edit {width: 32px; height: 32px;  border: 1px solid #C0C0F0; background-image: url('img/edit.png'); cursor: pointer;}
.butt_del{width: 32px; height: 32px;  border: 1px solid #C0C0F0; background-image: url('img/del.png'); cursor: pointer;}
.vis {display: inline;}
.unvis {display: none;}
b.nobuy {background-color: #FFB0B0;}

table.portfrl {border: 1px solid #E8E8FF; margin: 1 px; padding: 1px; background-color: #F9F9FF; font-size: 12px;}
tr.restricted {vertical-align: middle; padding: 3px; margin: 0px;  background-color: #FFC7C7;}
u {cursor: pointer;}
td.portftop {vertical-align: top; padding: 2px; background-color: #E8FFE8; border: 1px solid #C0F0C0; font-size: 13px; font-weight: bold; }
tr.portf0 {vertical-align: middle; padding: 1px; margin: 0px; background-color: #FBFFFB; white-space: nowrap;}
tr.portf1 {vertical-align: middle; padding: 1px; margin: 0px;  background-color: #F4FFF4; white-space: nowrap;}
td.flt {padding: 5px; font-size: 16px;  border: 1px solid #C0C0F0; width: 100%;}
td.scha {padding: 5px; font-size: 16px;  border: 1px solid #C0C0F0; background-color: #E0E0F9; white-space: nowrap;}

td.pstat {width: 300px; vertical-align: top; text-align: left; font-size: 17px; font-weight: bold; padding: 10px;}

td.cnt {text-align: center;}

table.checkres {border: 1px solid #E8E8C0; margin: 1 px; padding: 1px; background-color: #FFFFF9; font-size: 13px;}
td.checktop { font-weight: bold; margin: 1 px; padding: 1px; background-color: #FFFFE9; border: 1px solid #E8E8C0;}
td.res_ok {background-color: #40CF40; text-align: center; width: 50px; }
td.res_warn {background-color: #C0C040; text-align: center; width: 50px; }
td.res_err {background-color: #CF4040; text-align: center; width: 50px; }
b.limcl {font-size: 14; color: #303010;}
.butt_chall {font-size: 18px; padding: 5px; background-color: #C0E9C0; border: 2px solid #80C080; font-color: #105010; cursor: pointer; font-weight: bold;}